body {
    font-family: 'TT Commons', 'Calibri';
    text-align: center;
}


/* Styles for devices with a max-width of 600 pixels (e.g., smartphones) */
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

/* Styles for devices with a min-width of 601 pixels (e.g., PCs) */
@media only screen and (min-width: 601px) {
    body {
        background-color: lightgreen;
    }
}


/* MÅ LÆRE LAYOUT MED CSS */

.progress-bar {
    background-color: #ff0000;
    width: 500px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    
}
#progression-bar{
    background-color: #1aff00;
    position: relative;
    
    top: -35px
    
    
}


.all-scoring-text {
    width: 100%;
    padding: 40px;
    position:relative;
    display: flex;
    align-content: center;

}

.score-text {
    position: relative;
    background-color: aqua;
    text-align:center;
    font-size: 24px;
    line-height: 50px;
    /* padding-left: 20px; */
}
.score-buttons {
    position: relative;
    padding-top: 12px;
    background-color: #0436aa; 
    line-height: 75px;
    min-width: 100px;
    cursor: pointer; /* Pointer/hand icon */
    width: 10%; /*Set a width if needed*/
    
  }

.days-completed {
    
    background-color: #04AA6D;     
    line-height: 52px;
    width: 5%; /*Set a width if needed*/
    min-width: 40px;
    display: block; /* Make the buttons appear below each other */
    font-size: 22px;
}


#reset-button{
    background-color: #ff0000;
    font-family: 'TT Commons';
    font-size: 20px;
    color: #ffffff;
}
  
  /* Add a background color on hover */
  .score-buttons button:hover {
    background-color: #002ec6;
  }

button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    
    cursor: pointer;
    background-color: #003cff;
    font-family: 'TT Commons';
    font-size: 20px;
    color: #ffffff;
}

.score-results {
    position:fixed; top: 200px; left: 400px;
}
